.vscode/
.idsse_venv/
.venv/
data/
idsse-data/

.DS_Store

*__pycache__/
*.pkl
shapegraph_viz.png
shapegraph_viz.mp4

checkpoints/
logs/
wandb/

.claude/

data/
tokens/

data_annotated/DFL-MAT-J03WMX.json
annotations_viz.png
timelines_roles.png
timelines_zones.png
